.container {
  height:100%;
  background: linear-gradient(93deg, rgba(2,0,36,1) 0%, rgba(162,162,210,1) 0%, rgba(221,223,223,1) 0%, rgba(200,218,224,1) 0%, rgba(223,215,215,1) 0%, rgba(21,186,231,1) 0%, rgba(11,198,242,1) 0%, rgba(11,198,242,1) 0%, rgba(6,205,249,1) 0%, rgba(162,211,226,1) 0%, rgba(8,202,242,1) 10%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 30rem;
  margin: auto;
  background-color: rgb(235,235,235); 
  padding: 3rem 1rem;
  border-radius: 1rem;
}

img {
  height: 15rem;
  width: 100%;
  margin: auto 9rem;
  max-width: 200px;
  max-height: 300px;
  align-content: center;
}

.full-width {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center; 
}

.full-width {
  width: 100%;
}

button {
  margin-top: 1rem;
}