<div class="container mat-elevation-z8">
  <form class="section">
    <h1 class="fullWidth">
      Edit Client
      <img class="fullWidth" src="assets/img/client.svg" alt="create client" />
    </h1>

    <mat-form-field class="fullWidth">
      <mat-label>Name</mat-label>
      <input 
      [(ngModel)]="client.name"
      name="name"
      type="text" matInput [formControl]="name" required
      placeholder="Client name">
    </mat-form-field>

    <mat-form-field class="fullWidth">
      <mat-label>E-mail</mat-label>
      <input 
      [(ngModel)]="client.email"
      name="email"
      type="email" matInput [formControl]="email" required
      placeholder="client@example.com">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWidth">
      <mat-label>Document</mat-label>
      <input
      [(ngModel)]="client.document"
      name="document"
      type="text" matInput [formControl]="document" required
      placeholder="000.000.000-00">
      <mat-icon matSuffix>article</mat-icon>
      
    </mat-form-field>

    <mat-form-field class="fullWidth">
      <mat-label>Phone</mat-label>
      <input
      [(ngModel)]="client.phone"
      type="text" 
      name="phone"
      matInput [formControl]="phone" required
      placeholder="(00) 0 0000-0000">
    </mat-form-field>

    <mat-form-field floatLabel="always" class="fullWidth">
      <mat-label>Income</mat-label>
      <input 
      [(ngModel)]="client.income"
      name="income"
      type="text" matInput [formControl]="income" required
      type="number" class="right-align" placeholder="0" />
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>

    <mat-form-field class="fullWidth">
      <mat-label>Password</mat-label>
      <input 
       [(ngModel)]="client.password"
       name="password"
       type="name" matInput [formControl]="name" required
       matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      (click)="updateClient()"
      [disabled]="!validateFormClient()"
      mat-stroked-button
      class="fullWidth mat-elevation-z4"
      color="primary"
    >
      Update
    </button>
    <button
      routerLink="../../"
      mat-stroked-button
      class="fullWidth mat-elevation-z4"
      color="warn"
    >
      Cancel
    </button>
  </form>
</div>
